/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  /* Brand Colors */
  --vp-c-black: #000000;
  --vp-c-black-light: #1a1a1a;
  --vp-c-black-lighter: #333333;
  --vp-c-black-dark: #000000;
  --vp-c-black-darker: #000000;

  /* Surface Colors */
  --vp-c-neutral-100: #f5f5f5;
  --vp-c-neutral-200: #e5e5e5;
  --vp-c-neutral-300: #d4d4d4;
  --vp-c-neutral-400: #a3a3a3;
  --vp-c-neutral-500: #737373;
  --vp-c-neutral-600: #525252;
  --vp-c-neutral-700: #404040;
  --vp-c-neutral-800: #262626;
  --vp-c-neutral-900: #171717;

  /* Brand */
  --vp-c-brand: var(--vp-c-black);
  --vp-c-brand-light: var(--vp-c-black-light);
  --vp-c-brand-lighter: var(--vp-c-black-lighter);
  --vp-c-brand-dark: var(--vp-c-black-dark);
  --vp-c-brand-darker: var(--vp-c-black-darker);

  /* Typography */
  --vp-font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Custom Colors */
  --vp-c-bg-alpha-with-backdrop: rgba(255, 255, 255, 0.7);
  --vp-c-bg-navbar: rgba(255, 255, 255, 0.8);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-black);
  --vp-button-brand-text: var(--vp-c-neutral-100);
  --vp-button-brand-bg: var(--vp-c-black);
  --vp-button-brand-hover-border: var(--vp-c-black-light);
  --vp-button-brand-hover-text: var(--vp-c-neutral-100);
  --vp-button-brand-hover-bg: var(--vp-c-black-light);
  --vp-button-brand-active-border: var(--vp-c-black-light);
  --vp-button-brand-active-text: var(--vp-c-neutral-100);
  --vp-button-brand-active-bg: var(--vp-c-black);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-black) 30%,
    var(--vp-c-black-light)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-black) 30%,
    var(--vp-c-black-light)
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-black);
  --vp-custom-block-tip-text: var(--vp-c-black-darker);
  --vp-custom-block-tip-bg: var(--vp-c-neutral-100);
}

.dark {
  --vp-c-bg: var(--vp-c-neutral-900);
  --vp-c-bg-soft: var(--vp-c-neutral-800);
  --vp-c-bg-mute: var(--vp-c-neutral-700);
  --vp-c-bg-alt: var(--vp-c-neutral-800);

  --vp-c-divider: var(--vp-c-neutral-700);
  --vp-c-divider-light: var(--vp-c-neutral-600);

  --vp-c-text-1: var(--vp-c-neutral-100);
  --vp-c-text-2: var(--vp-c-neutral-300);
  --vp-c-text-3: var(--vp-c-neutral-400);

  --vp-custom-block-tip-border: var(--vp-c-black-light);
  --vp-custom-block-tip-text: var(--vp-c-neutral-300);
  --vp-custom-block-tip-bg: var(--vp-c-neutral-800);

  --vp-c-bg-alpha-with-backdrop: rgba(0, 0, 0, 0.7);
  --vp-c-bg-navbar: rgba(0, 0, 0, 0.8);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-black) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-neutral-300);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-neutral-100);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
} 